/* General color theming */

$primary-main:  #212121;
$primary-light: #484848;
$primary-dark:  #000000;
$primary-text:  #ffffff;
$primary-text-dark: grey;


$scnd-main:  #f50057;
$scnd-light: #ff5983;
$scnd-dark:  #bb002f;
$scnd-text:  #000000;
