@import 'general';

body {
	background-color: $primary-light;
}

.i-card {
	display: inline-block;
	width:100%;
	max-width: 74%;
	margin-left: 13%;
	margin-right: 13%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.i-card-header {
	background: $scnd-dark;
	text-align: center;
	color: black;
	padding: 0.5em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 1em;
}

.i-card-body {
	color: black;
	background: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	padding: 1.5em;
}
