@import 'general';

.nav-theme {
	background-color: $primary-main;
}

.navbar-brand {
	color: $primary-text;
	background-color: $primary-main;
}


.nav-item {
	color: $primary-text;
}

.nav-link {
	color: $primary-text;
	background-color: $primary-main;
}

.navbar-text {
	color: $primary-text-dark;
}

.btn-login {
	border-color: $scnd-main;
	color: $primary-text;
	background-color: transparent;
}

.btn-login:hover .btn-login:visited .btn-login:active {
	border-color: $scnd-light;
	color: black;
	background-color: $scnd-light;
}
.btn:hover {
	border-color: $scnd-light;
	color: black;
	background-color: $scnd-light;
}
