<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
	// Your web app's Firebase configuration
	var firebaseConfig = {
		apiKey: "AIzaSyBp12bMUVN3ahTwe08w9ph7zUzAlV-7IIg",
		authDomain: "scuffed-league.firebaseapp.com",
		databaseURL: "https://scuffed-league.firebaseio.com",
		projectId: "scuffed-league",
		storageBucket: "scuffed-league.appspot.com",
		messagingSenderId: "156400870852",
		appId: "1:156400870852:web:eba8dd659e14b40edb7091"
	};
	// Initialize Firebase
	firebase.initializeApp(firebaseConfig);

	// Firebase log-in widget
	function configureFirebaseLoginWidget() {
		var uiConfig = {
			'signInSuccessUrl': '/',
			'signInOptions': [
			firebase.auth.EmailAuthProvider.PROVIDER_ID
		],
			// Terms of service url
			'tosUrl': '/tos',
		};

		var ui = new firebaseui.auth.AuthUI(firebase.auth());
		ui.start('#firebaseui-auth-container', uiConfig);
	}
</script>
