<!DOCTYPE HTML>
<html lang="en">
	{% include 'meta.html' %}
	{% include 'bootstrap.html' %}
	<link rel="stylesheet" href="/static/css/index.css">
	<body>
		{% include 'navbar.html' %}
		<div class="container">
			<div class="jumbotron">
				<h1 style="text-align:center;">Scuffed League</h1>
			</div>
			<div class="card mb-5">
				<div class="i-card-header card-header" ></div>
				<div class="i-card-body card-body"></div>
			</div>
		</div>
		{% include 'login-signup-modals.html' %}
	</body>
</html>
