<!DOCTYPE HTML>
<html lang="en">
	{% include 'meta.html' %}
	{% include 'bootstrap.html' %}
	<link rel="stylesheet" href="/static/css/login.css">
	<body>
		{% include 'navbar.html' %}
		<div class="container">
			<div class="card">
				<h1 style="text-align:center;">Login</h1>
				<div class="container">
					<form>
						<div class="field-group">
							<label for="username-input">Username</label>
							<input type="email-input" class="form-control" id="email-input" placeholder="Enter Email">
							<label for="password-input">Password</label>
							<input type="password" class="form-control" id="password-input" placeholder="Enter Password">
							<button type="button" class="btn btn-primary" id="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% include 'firebase.html' %}
	</body>
</html>
