<div class="modal" id="login-modal" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Login</div>
			<div class="modal-header" id="login-err"></div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="login-email" class="col-form-label">Email</label>
						<input type="email" class="form-control" id="login-email">
					</div>
					<div class="form-group">
						<label for="login-pass" class="col-form-label">Password</label>
						<input type="password" class="form-control" id="login-pass">
					</div>
				</form>
				<div class="modal-footer">
					<button id="btn-login" type="button" class="btn btn-primary">Login</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="signup-modal" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Signup</div>
			<div class="modal-header" id="signup-err"></div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="signup-email" class="col-form-label">Email</label>
						<input type="email" class="form-control" id="signup-email">
					</div>
					<div class="form-group">
						<label for="signup-user" class="col-form-label">Username</label>
						<input type="text" class="form-control" id="signup-user">
					</div>
					<div class="form-group">
						<label for="signup-pass1" class="col-form-label">Password</label>
						<input type="password" class="form-control" id="signup-pass1">
					</div>
					<div class="form-group">
						<label for="signup-pass2" class="col-form-label">Confirm password</label>
						<input type="password" class="form-control" id="signup-pass2">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="btn-signup" type="button" class="btn btn-primary">Signup</button>
			</div>
		</div>
	</div>
</div>
