<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Scuffed League</title>
	<link href="/static/images/favicon.png" rel="shortcut icon" type="image/x-icon">
</head>
