<link rel="stylesheet" href="/static/css/navbar.css">
<nav class="navbar navbar-expand-lg nav-theme">
	<a class="navbar-brand" href="/">Scuffed League</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto"></ul>
		<form class="form-inline">
			{% if logged_in %}
				<button id="btn-logout" class="btn-login btn" type="button">Logout</button>
				<script src="/static/js/logged-in.js"></script>
			{% else %}
				<button class="btn-login btn" type="button"
					data-toggle="modal" data-target="#login-modal">Login</button>
				<button class="btn-login btn" type="button"
					data-toggle="modal" data-target="#signup-modal">Signup</button>
				<script src="/static/js/auth-begin.js"></script>
			{% endif %}
		</form>
	</div>
</nav>
