<!DOCTYPE HTML>
<html lang="en">
	{% include 'meta.html' %}
	{% include 'bootstrap.html' %}
	<link rel="stylesheet" href="/static/css/signup.css">
	<body>
		{% include 'navbar.html' %}
		<div class="container">
			<div class="card">
				<h1 style="text-align:center;">Signup</h1>
				<div class="container">
					<form>
						<div class="field-group">
							<label for="email-input">Email</label>
							<input type="email-input" class="form-control" id="email-input" placeholder="Enter Email">

							<label for="username-input">Username</label>
							<input type="username-input" class="form-control" id="username-input" placeholder="Enter username">

							<label for="password-input">Password</label>
							<input type="password" class="form-control" id="password-input" placeholder="Enter Password">

							<label for="password-config-input">Confirm Password</label>
							<input type="password" class="form-control" id="password-confirm-input" placeholder="Confirm password">

							<button type="button" class="btn btn-primary" id="submit">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
	<script>
		$(document).ready(function() {
			$('#submit').on('click', function() {
				$.ajax({
					type: 'POST',
					url: '/login',
					data: {
						email: $('#email-input').val(),
						username: $('#username').val(),
						password: $('#password-input').val(),
						password2: $('#password-confirm-input').val()
					},
					succes: function(data) {
						console.log(data);
					},
					dataType: 'json'
				});
			});
		})
	</script>
</html>
