<!DOCTYPE html>
<html lang="en">
    {% include 'meta.html' %}
    {% include 'bootstrap.html' %}
    <link rel="stylesheet" href="/static/css/teams.css">
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <!-- Filter form for teams searching -->
            <nav class="navbar navbar-expand-lg nav-theme search-bar ">
                <span class="navbar-brand mb-0 h1">{{ gamemode }}Teams</span>
                <ul class="navbar-nav mr-auto">
                    <li>
                        <form class="inline-form my-2 my-lg-0">
                            <select class="custom-select">
                                <option selected value="none">Choose region</option>
                                {% for key in opts %}
                                <option id="opt-{{key}}" value="{{key}}">{{ opts[key] }} </option>
                                {% endfor %}
                            </select>
                        </form>
                    </li>
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Team Name">
                    <button class="btn-login btn" type="button">Search</button>
                </form>
            </nav>
        </div>
	{% include 'firebase.html' %}
    </body>
</html>
